[trainer]
batch_size = 512
gamma = 0.95
tau = 0.005
lr_actor  = 0.0003
lr_critic = 0.0003
lr_alpha  = 0.0003
bc_ratio  = 1.0
lambda_bc = 1.0


[imitation_learning]
il_episodes = 1000
il_policy = orca
il_epochs = 2000                
il_learning_rate = 0.0003
safety_space = 0.10            


[train]
train_batches = 100
train_episodes = 2000
sample_episodes = 20
target_update_interval = 50
evaluation_interval = 200
capacity = 100000
epsilon_start = 0.1
epsilon_end = 0.05
epsilon_decay = 2000
checkpoint_interval = 500


[dagger]
exp_full = 100
exp_anneal = 600
min_prob = 0.2
